#geocode-selector {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 10000;
}

#geocode-selector button {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 12px 24px;
    margin-left: 24px;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 0.25s ease-out;
    outline: none;
}

#geocode-selector button:hover {
    background-color: white;
}

#geocode-selector .selected {
    background-color: #0078A8;
    color: white;
}

#geocode-selector .selected:hover {
    background-color: #49e;
}
	
